<div class="wrapper">
    <header>To do List</header>
    <div class="inputField">
      <input type="text" (keyup)="inputKeyup(taskDescription.value)" id="taskDescription" name="taskDescription" placeholder="Add your new task" #taskDescription>
      <button *ngIf="!updateMode" id="addBtn" type="button" (click)="addTask(taskDescription.value)"><i class="fa-plus"></i></button>
      <button class="active" *ngIf="updateMode" id="editBtn" type="button" (click)="updateTask(taskDescription.value)"><i title="Save Edit" class="fa-solid fa-floppy-disk"></i></button>
    </div>

    <h3> All Tasks</h3>

    <ul class="todoList"> 
      <div *ngIf="tasks.length == 0">No existen tareas.</div>     
      <li *ngFor="let task of tasks"><input type="checkbox">{{task.taskDescription}} 
        <div class="icon">
          <span class="deleteIcon"  (click)='deleteTask(task.taskId)'><i title="delete" class="fa-solid fa-trash"></i></span>
          <span class="editIcon" (click)='setUpdateMode(task.taskId,task.taskDescription)'   ><i title="edit" class="fa-solid fa-pen-to-square"></i></span>
        </div>       
      </li>
    </ul>   
  </div>
